.article-related {
    grid-area: related;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: $padding-horizontal-large;
    margin-top: $margin-horizontal-regular;
    .heading-5 {
        a {
            color: $White;
            transition: all .2s;
        }

        :hover {
            color: $Green;
        }

        :active {
            color: $Green-dark;
        }
    }
    .preheading{
        line-height: 1;
    }
    .article-related-header{
        margin-bottom: $margin-horizontal-medium;
    }
    .heading-7,
    .preheading {
        align-self: center;
        text-align: center;
        color: $Green;
        display: block;
    }

    .credits {
        font-size: $size-smallest-fluid;
        color: $Grey-light;
    }
}

@include media(">=tablet") {
    .article-related {
            margin-top: $margin-horizontal-medium;
            padding-top: $padding-horizontal-regular;
            padding-bottom: $padding-horizontal-large;
            justify-content: flex-start;
        .heading-7,
        .preheading {
            text-align: left;
            width: max-content;
        }

        ul.list-2 {
            flex-direction: row;
        }

        .list-item {
            flex: 0 0 50%;
            padding-right: $padding-vertical-large;
        }
    }
}

@include media(">=fullhd"){
    .article-related {
        padding-top: $padding-horizontal-large;
    }
}