.article-hero-text {
    grid-area: title;
    clear: both;
    margin-top: 1em;
    padding: $padding-vertical-small 0;

    h2.article-hero-title {
        font-size: $size-h2-fluid;
        font-family: $Serif;
        color: $Green;
        letter-spacing: -.025em;
        font-weight: 700;
        line-height: 1.25;
        display: inline;

        &:hover{
            border-bottom: 1px solid $Green;
        }
        &:active{
            color: $Orange;
        }
    }
}

.article-hero-summary {
    margin: $margin-horizontal-regular 0;
    display: block;
    font-family: $Sans;
    color: $Grey-light;
    font-size: 15px;
}

    .article-hero-text,
    .article-hero-related {
        width: 85%;
        margin: 0 auto;
    }

.article-hero-related {
    grid-area: related;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: $padding-horizontal-regular;

    .heading-5 {
        a {
            color: $White;
            transition: all .2s;
        }

        :hover {
            color: $Green;
        }

        :active {
            color: $Green-dark;
        }
    }

    .heading-7,
    .preheading {
        align-self: center;
        text-align: center;
        color: $Green;
        line-height: 1;
    }
    .credits{
        font-size: $size-smallest-fluid;
        color: $Grey-light;
    }
}

@include media(">=tablet"){
    
        .article-hero-text,
        .article-hero-related {
            padding: 0;
            width: 100%;
        }
        .article-hero-text{
            padding-right: $padding-vertical-normal;
        }
    .article-hero-related{
        .heading-7,
        .preheading {
            align-self: flex-start;
            text-align: left;
        }
        ul.list-2{
            flex-direction: row;
        }
        .list-item{
            flex: 0 0 50%;
            padding-right: $padding-vertical-large;
        }
    }
}
