.breadcrumps{
    display: flex;
    align-items: center;
    height: $breadcrump-height;
    margin: 0 $margin-vertical-large;
    z-index: 99;
    &-list{
        display: flex;
        align-items: center;
        margin-left: $margin-vertical-large;
    }
    &-list dt{
        padding-left: $padding-vertical-small;
        position: relative;
        margin-left: $margin-vertical-small;
        a{color: $Black;}
        &::before{
            @include arrow-fordward;
            background-color: $Grey-light;
            left: $margin-vertical-small*-.33;
        }
        &:first-of-type{
            margin-left: 0;
            &::before{
                @include arrow-fordward;
                background-color: $Grey-light;
                left: -.5rem;
            }
        }
    }
    .is-selected{
        
        a{color: $Blue-light;}
        &::after{
            content: "";
            @include bullet-small;
            @include absolute-center;
            background-color: $Blue-light;
            bottom: -120%; 
        }
    }
    @include media(">=desktop"){
        margin: 0;
        @include padding-master-desktop;
    }
}