.filters-container{
    border-top: 1px solid $Grey-lilac;
    margin-top: $margin-horizontal-large;
    padding-top: $padding-horizontal-small;
    .filter-label{
        @include small-text-bold;
        color: $White;
        padding: $padding-horizontal-small 0;
        cursor: pointer;
    }
    &[open]>.filter-label{
        color: $Yellow-dark;
    }
}
.filter-container{
    margin-left: $margin-vertical-normal;
    .input-pill{
        margin-left: -1rem;
        width: calc(100% + 1rem);
    }
    &[open]{
        .filter-label{
            color: $Yellow-light;
        }
    }
}
.filter-label{
    @include transition-basic;
}