.list-item{
    display: flex;
    flex-direction: column;
        &:not(:last-child) {
        padding-bottom: $padding-horizontal-regular;
        margin-bottom: $margin-horizontal-medium;
        border-bottom: 1px solid $Green-dark;
    }
        .credits {
            padding-top: $padding-horizontal-small;
        }
}

.list-2-item{
    position: relative;
    display: flex;
    flex-direction: column;
    .article-text-container{
        margin: 0 auto;
        width: 85%;
        display: flex;
        flex-direction: column;
        summary{
            margin-bottom: 1em;
        }
    }
    .tag{
        margin-top: $margin-horizontal-regular; 
    }

    &:not(:last-child) {
        padding-bottom: $padding-horizontal-regular;
        .article-text-container{
            border-bottom: 1px solid $Grey-light;
            padding-bottom: $padding-horizontal-regular;
        }
    }
}
.list-3-item{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    &:not(:last-child){
        margin-bottom: $margin-horizontal-regular;
        border-bottom: 1px dotted currentColor;
        padding-bottom: $padding-horizontal-regular;
    }
    .credits, .date{
        margin-top: 1em;
    }
    ///to prevent double margin if a "date" element is a child of a "credits" element
    .credits .date{
        margin-top: 0;
    }
    ////
    &-news{
        .heading-6, .date{
            margin-left: $margin-vertical-extraLarge;
        }

        .heading-6{
            position: relative;
            display: flex;
            align-items: flex-end;

            &::before{
                content: "";
                justify-self: flex-start;
                width: 35px;
                height: 31px;
                flex: 0 0 auto;
                margin-left: $margin-vertical-extraLarge*-1;
                -webkit-mask-image: url("/img/md-paper.svg");
                mask-image: url("/img/md-paper.svg");
                mask-size: cover;
                mask-repeat: no-repeat;
                margin-right: $margin-vertical-normal;
                background-color: $Blue-dark;
            }
        }
    }
    &-btp{
        position: relative;
        //@include padding-1col-mobile;
        padding-left: $padding-vertical-large;
        padding-right: $padding-vertical-large;
        .heading-6{
            padding-bottom: $margin-horizontal-regular;
            border-bottom: 1px dotted currentColor;
        }
        &:not(:last-child){
            border-bottom: none;
        }
        &:not(:first-child) {
            &::before{
            content: "";
            position: absolute;
            top: $margin-horizontal-regular*-1;
            height: 1px;
            width: 90vw;
            //left: 0;
            @include fluid-type(margin-left, $phone, $tablet, ($padding-vertical-large+1rem)*-1, -6.5rem);
            //transform: translateX(-1rem);
            border-bottom: 1px solid white;
        }
    }
        &:last-child{
            margin-bottom: $margin-horizontal-regular;
            padding-bottom: $padding-horizontal-regular;
        }
    }
}

@include media(">=tablet") {
    .list-item:not(:last-child){
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .list-2-item-picture-top{
        picture{
            margin: 0 auto;
            flex: 0 1 auto;
            max-height: 80%;
            img{
                border-radius: 0px 0px 80px 0px;
            }
        }
    }
    .list-2-item {
        flex-direction: row;
        &:not(:first-child){
            padding-top: $padding-horizontal-regular;
        }
        &:not(:last-child){
            .article-text-container {
                padding-bottom: 0;
            }
        }
        .article-text-container {
            padding-left: $padding-vertical-normal;
        }
        picture{
            flex: 0 1 45%; 
            display: flex;
            max-width: 280px;
            img{
                border-radius: 0px 40px 0px 0px;
                object-fit: cover;
            }
        }
    }
    .list-2-item:not(:last-child) {
        border-bottom: 1px dotted $Grey-light;
        .article-text-container {
            border-bottom: none;
        }
    }
}

@include media(">=desktop") {
    .list-2-item:not(:last-child){
        padding-bottom: $padding-horizontal-large;
        margin-bottom: $margin-horizontal-large;
    }
    .list-3-item {
        &:not(:last-child) {
            border-bottom-width: 1px;
        }
    }
    .list-3-item-news{
        .date {
            margin-left: $side-icon_size;
            padding-left: .5rem;
        }
         .heading-6{
             align-items: flex-start;
             margin-left: 0;
            &::before {
                 margin-left: 0;
                 margin-right: .5rem;
                 width: $side-icon_size;
                 height: $side-icon_size;
            }
         }
    }
    .list-3-item-btp{
        padding-left: 0;
        padding-right: 0;
        justify-content: flex-start;
        .heading-6{
            padding-bottom: 0;
            border-bottom: none;
        }
        &:nth-child(1), &:nth-child(2){
            border-bottom: 1px dotted $Green;
        }
        &:not(:first-child) {
                    &::before{
                    content: none
                }
    }
    }
}