.list-item:not(:last-child) {
    padding-bottom: $padding-horizontal-regular;
}

.list-2-item{
    position: relative;
    display: flex;
    flex-direction: column;
    .article-text-container{
        margin: 0 auto;
        width: 85%;
        display: flex;
        flex-direction: column;
    }
    .tag{
        margin-top: $margin-horizontal-regular; 
    }
    small.credits{
        padding-top: $padding-horizontal-small;
    }
    &:not(:last-child) {
        margin-bottom: $margin-horizontal-regular;
        padding-bottom: $padding-horizontal-regular;
        .article-text-container{
            border-bottom: 3px dotted $Blue-light;
        }
    }
}
.list-3-item{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    &:not(:last-child){
        margin-bottom: $margin-horizontal-regular;
        border-bottom: 3px dotted $Blue-light;
        padding-bottom: $padding-horizontal-regular;
    }
    &-news{
        .heading-6, .date{
            margin-left: $margin-vertical-extraLarge;
        }

        .heading-6{
            position: relative;
            display: flex;
            align-items: center;

            &::before{
                content: "";
                justify-self: flex-start;
                width: 35px;
                height: 31px;
                flex: 0 0 auto;
                margin-left: $margin-vertical-extraLarge*-1;
                background-image: url("/img/md-paper.svg");
                background-size: cover;
                margin-right: $margin-vertical-large;
            }
        }
    }
}

@include media(">=tablet") {

    .list-2-item:first-child{
        picture{
            margin: 0 auto;
            flex: 0 1 auto;
            max-height: 80%;
            img{
                border-radius: 0px 0px 80px 0px;
            }
        }

    }
    .list-2-item:not(:first-child) {
        flex-direction: row;
        .article-text-container {
            padding-left: $padding-vertical-normal;
        }
        picture{
            flex: 0 1 45%; 
            display: flex;
            max-width: 280px;
            img{
                border-radius: 0px 40px 0px 0px;
                object-fit: cover;
            }
        }
    }
    .list-2-item:not(:last-child) {
        border-bottom: 1px dotted $Grey-light;
        .article-text-container {
            border-bottom: none;
        }
    }
}

@include media(">=desktop") {
    .list-3-item {
        &:not(:last-child) {
            border-bottom-width: 1px;
        }
    }
    .list-3-item-news{
        .heading-6,
        .date {
            margin-left: $margin-vertical-extraLarge/2;
        }
         .heading-6{
             align-items: flex-start;
            &::before {
                 margin-left: ($margin-vertical-extraLarge/2)*-1;
                 margin-right: 0;
            }
         }
    }
}