////////////////////////////////////////////
/////MENU HEADER STYLES
.logo-cepr {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;

    .logo-med {
        display: none;
    }
}
.menubar__header {
        height: 4rem;
        background-color: var(--color-White);
        padding: 0 1.5rem;
    }

.menubar-toggle,
.search-toggle {
    line-height: 1;
    background: none;
    border: none;
    border-radius: 0;
    padding: 0;
    height: 3rem;
}
.menubar__logo {
    position: relative;
    height: 50%;
}

.menubar__btn,
.menubar__search {
    position: relative;
    height: 50%;
    fill: var(--color-Black);
    align-self: center;
}

/////////////////////////////////////////////////////////
//////////Menu Styles

#menubar-container {
    background-color: var(--color-Black);
    list-style: none;
    color: var(--color-White);
    font-family: var(--font-Display);
    font-weight: 300;
    text-transform: uppercase;
    font-size: 0.875rem;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100vw;
    justify-content: center;
}
    .menubar-item,
    .menu-item,
    .submenu-item,
    .menubar-item-donate {
        min-width: 100%;
        //flex-grow: 1;
        //flex-shrink: 1;
        height: 3rem;
        border-bottom: 0.5px solid var(--color-Primary-light);
        margin-left: -2rem;
        margin-right: -2rem;
        display: flex;
        align-items: center;
        position: relative;
    }
    .menu-container,
    .submenu-container {
    background-color: var(--color-Black);
    color: var(--color-White);
    }

.menu-container{
    display: none;
}
    .menubar-target, .menu-target, .submenu-target {
        padding: 0 2rem;
    }

    .menubar-target{
        color: var(--color-White);
    }
    .menu-target,
    .submenu-target {
        color: var(--color-White);
        text-transform: capitalize;}

.menubar-item-donate{
    background-color: var(--color-Action-light);
    background-image: url("/img/donate-background.svg");
    background-size: 120%;
    background-position-x: center;
    border-bottom: none;
}
.menubar-target-donate{
    color: var(--color-Primary-dark);
    font-family: var(--font-Primary);
    font-weight: 700;
    padding-left: 2rem;
}

@include media ('>phone', '<tablet') {
        #menubar-container,
        .menubar__header {
            padding: 0 2rem;
        }

        .menubar-item,
        .menu-item,
        .submenu-item,
        .menubar-item-donate {
            height: 4rem;
        }
    }


//////////////////////////////////////////////
///////////////////////////MENU HEADER TABLET

@include media ('>=tablet') {

    .menubar__header {
        height: 5rem;
        color: var(--color-Black);
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .menubar__logo {
        height: 100%;
        color: var(--color-Black);
        margin: 0 auto;
    }

    .menubar-toggle {
        display: none;
    }

//////////////////////////////////////////////////
/////////////////MENU CONTENT TABLET
    #menubar-container{
        flex-direction: row;
        justify-content: space-between;
        background-color: var(--color-White);
        border-top: 0.8px solid var(--color-Black);
        border-bottom: 0.8px solid var(--color-Black);
        width: 100vw;
        position: relative;
        padding: 0 0;
    }
    .menubar-item,
    .menu-item,
    .submenu-item,
    .menubar-item-donate {
        margin-left: 0rem;
        margin-right: 0rem;
        border-bottom: none;
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        min-width: 4rem;
        height: 100%;
    }
    .menubar-item-donate{
        background-color: transparent;
        border-left: 0.8px solid var(--color-Black);
        border-right: 0.8px solid var(--color-Black);
        width: 58px;
        background-size: 400%;
        display: flex;
        margin-right: 2rem;
    }
     .menubar-target{
             color: var(--color-Black);
     }

     .menubar-target-donate {
         text-align: center;
         width: 100%;
     }

    .menubar-target,
    .menu-target,
    .submenu-target {
        font-size: .5625rem;
        padding: 1rem auto;
    }

        .menubar-target,
        .menu-target,
        .menubar-target-donate,
        .submenu-target {
            font-size: .5625rem;
            padding: 1rem 0;
        }

    .menu-container {
           display: flex;
           flex-direction: row;
           position: absolute;
           justify-content: space-around;
           left: 0;
           top: 0;
           width: 100vw;
           transform: translateY(3rem);
        }

    .submenu-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        transform: translateY(3rem);
        width: 100vw;
        position: absolute;
        left: 0;
    }   
}



@include media ('>=desktop') {
    #menubar-container{
        padding: 0 auto;
    }
    
    .menubar__header {
        height: 6rem;
        }
        .menubar-target, .menu-target, .submenu-target {
            font-size: .75rem;
        }

        .menu-container, .submenu-container{
            .column{
            //display: none;
            }
            //width: 100vw;
        }
    }