.search-suggestions-container{
    background-color: $White;
    border-radius: 20px 20px 20px 20px;
    margin-top: $margin-horizontal-medium;
    .search-suggestions-list{
        position: relative;
        &:before{
            @include bullet-diamond;
            background-color: $White;
            left: 0;
            top: -6px;
            margin-left: $input-heigth;
        }
    }
    .search-suggestions-item{
        padding: $padding-horizontal-small $padding-vertical-normal;
        border-radius: $input-heigth;
        position: relative;
        z-index: 99;
        &:hover{
            background-color: $Yellow-light;
        }
    }
}