.search-results-header{
    min-height: 15rem;
    background-color: $Black;
    display: flex;
    flex-direction: column;
    @include fluid-type(padding-left padding-right, $phone, $tablet, 7.5%, 25%);
    padding-top: $padding-horizontal-large;
    padding-bottom: $padding-horizontal-regular;
    .heading-2-sans{
        color: $White;
    }
    .search-term{
        color: $Yellow-light;
        border-top: 1px solid $Yellow-light;
        padding-top: $padding-horizontal-small;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    @include media(">=desktop"){
        position: relative;
        z-index: 2;
        @include fluid-type(padding-left padding-right, $tablet, $desktop, 25%, 15%);
        &:before{
            content: "";
            width: 200vw;
            background-color: $Black;
            height: 100%;
            position: absolute;
            left: -50%;
            top: 0;
            z-index: -1;
        }
    }
}