.side-blogs{
    background-color: $White;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0 100px 0 0;
    position: relative;
    padding-left: $columns-gap;
    padding-bottom: $padding-horizontal-large;
    .heading-4{
        font-size: $size-h4-min;
        color: $Black;
    }
    &:before{
        content: "";
        background: url("/img/texture-diagonal.svg") left no-repeat;
        //flipping the background image to use the original svg
        transform:scaleX(-1);
        border-radius: 100px 0 0 0;
        //
        opacity: 0.25;
        filter: alpha(opacity=25);
        width: 100%;
        height: 100%;
        background-clip: cover;
        position: absolute;
        left: 0;
    }

    .side-blogs-header {
        height: $btpHeader-size-fluid;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 2;
    }

    .side-blogs-header,
    .side-blogs-content{
            padding-left: $padding-vertical-normal;
    }
    .side-blogs-content{
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-right: $padding-vertical-large;
        .list-3-item{
            border-bottom-color: $Grey-light;
        }
        .heading-7{
            color: $Orange;
            border: 2px solid $Orange;
            margin-right: auto;
            padding-top: .75em;
            border-bottom: 0;
            border-left: 0;
            border-radius: 0 20px 0 0;
            padding-right: $padding-vertical-small;
        }
    }
}