/////////////////////////////////
//////////////////SMALL-TEXTS
%small-text-base{
    font-family: $Sans;
    font-size: $size-small-fluid;
    text-transform: uppercase;
    letter-spacing: .1em;
}

%heading-2-base{
    font-family: $Serif;
    font-weight: $Bold;
    font-size: $size-h2-fluid;
    line-height: 1.25;
    letter-spacing: -.02em;
    text-transform: capitalize;
    margin-top: $margin-horizontal-small;
    margin-bottom: $margin-horizontal-regular;
}

@mixin smallest-sans-base  {
    font-family: $Sans;
    font-size: $size-smallest-fluid;
    letter-spacing: 0;
    line-height: 1.25;
}


@mixin smallest-serif-base{
    //@include fluid-type(font-size, $phone, $widescreen, $size-smallest-min, $size-smallest-max);
    font-family: $Serif;
    font-size: $size-small-fluid;
    letter-spacing: 10;
    line-height: 1.25;
}

@mixin smallest-text {
    font-size: $size-smallest-fluid;
    @extend %small-text-base;
}

@mixin small-text {
    @extend %small-text-base;
}
@mixin small-text-bold {
    @extend %small-text-base;
    font-weight: $Bold;
}
@mixin small-text-sans-2 {
    @extend %small-text-base;
    font-size: $size-smallish-fluid;
}

@mixin small-text-serif-1 {
    @extend %small-text-base;
    font-family: $Serif;
}

@mixin small-text-sans-4 {
    @include smallest-sans-base;
    font-style: italic;
    font-weight: $Regular !important;
    text-transform: capitalize;
}

@mixin small-text-serif-1 {
    @include smallest-serif-base;
    @include fluid-type(font-size, $phone, $fullhd, $size-smallish-min, $size-smallish-max);
    letter-spacing: .075em;
    text-transform: uppercase;
}

@mixin small-text-serif-2 {
    @include smallest-serif-base;
    font-weight: $Regular;
    text-transform: capitalize;
}

@mixin small-text-serif-3 {
    @include smallest-serif-base;
    font-weight: $Light;
    font-style: italic;
} 

@mixin small-text-serif-3_underline {
    @include smallest-serif-base;
    font-weight: $Light;
    font-style: italic;
    text-transform: capitalize;
    text-decoration: underline;
}

/////////////////////////////////
//////////////////HEADINGS

@mixin heading-2 {
    @extend %heading-2-base;
}
@mixin heading-2-sans {
    @extend %heading-2-base;
    font-family: $Sans;
    font-weight: $Light;
}
@mixin heading-2-sans-bold {
    @extend %heading-2-base;
    font-family: $Sans;
    font-weight: $Bold;
}

@mixin heading-3 {
    font-family: $Sans;
    font-weight: $Regular;
    @include fluid-type(font-size, $phone, $fullhd, $size-h3-min, $size-h3-max);
    color: $Black;
    margin: $margin-horizontal-regular 0;
    margin-top: $margin-horizontal-small;
    line-height: 1.25;
    a{
        color: inherit;
        &:hover{
            color: $Blue;
            text-decoration: underline;
        }
        &:visited{
            color: $Grey-lilac;
        }
    }
}

@mixin heading-4 {
    text-transform: uppercase;
    font-size: $size-h4-fluid;
    letter-spacing: .15em;
    font-weight: $Light;
    line-height: 1;
    a{
        color: inherit;
    }
}

@mixin heading-5 {
    @include size-h5-fluid;
    color: $Black;
}
@mixin heading-6 {
    font-family: $Sans;
    @include size-h6-fluid;
    line-height: 1.25;
    font-weight: $Light;
    text-transform: capitalize;
    letter-spacing: 0;
    color: $Black;
    a{
        color: inherit;
        -webkit-text-stroke: 0px;
        
        &:hover{
            color: $Blue-light;
            -webkit-text-stroke: .5px;
        }
    }
}

@mixin heading-7 {
    text-transform: uppercase;
    font-size: $size-h7-fluid;
    letter-spacing: .15em;
    font-weight: $ExtraBold;
    line-height: 1.2;
}

/////////////////////////////////
//////////////////PARAGRAPHS

@mixin paragraph-small {
    font-family: $Sans;
    @include size-p2-fluid;
    line-height: 1.25;
}