.credits, .date{
    @include small-text;
    color: $Grey;
    &-dark{
        color: $Grey-light;
    }
}
.author{
    font-weight: 700;
}
.publication-name{
    text-transform: capitalize;
    margin-right: .5em;
}
//////General credits component style
.author, .date{
    display: inline-block;
}
.author+.date{
    &::before{
        content: "/";
        margin-right: $margin-vertical-small;
        margin-left: $margin-vertical-small/2;
    }
}
/////Credits component inside article/report
.report-author{
    .author, .date{
        display: block;
    }
    .author+.date{
        &::before{
            content: none;
        }
    }
}
