.credits, .date{
    @include small-text;
    color: $Grey;
    &-dark{
        color: $Grey-light;
    }
}
.author{
    font-weight: 700;
}
.author, .date{
    display: inline-block;
}
.author+.date{
    &::before{
        content: "/";
        margin-right: $margin-vertical-small;
    }
}

.publication-name{
    text-transform: capitalize;
    margin-right: .5em;
}