///Grabbed from here: https://codepen.io/SitePoint/pen/QbMgvY
///There is a issue regarding the use of <detail> in the html that changes the result of the footnotes counter each time its parent <detail> element open or closes.

article {
  counter-reset: footnotes-label figures-cap figures-tit;
}

[aria-describedby="footnote-label"] {
    counter-increment: footnotes-label;
    text-decoration: none;
    color: inherit;
    cursor: default; 
    outline: none;
  }

  [aria-describedby="footnote-label"]::after {
    content: counter(footnotes-label); /* 1 */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1rem;
    height: 1rem;
    font-size: 0.75em;
    letter-spacing: -.1em;
    border: 2px solid $Orange;
    border-radius: 50px;
    font-weight: $Bold;
    margin-left: 2px;
    color: $Orange;
    cursor: pointer;
  }
  
  /**
   * Resetting the default focused styles on the number
   */
  [aria-describedby="footnote-label"]:focus::after {
    outline: thin dotted;
    outline-offset: 2px;
  }
  
  [aria-label="Back to content"] {
    font-size: 0.8em;
  }
  
  /**
   * Highlight target note
   */
  footer :target {
    background: $Yellow;
    color: $Blue-dark;
  }
  .start-count{
    counter-reset: footnotes;
  }
  footer{
  ol.footnotes{list-style-type: none;}
  ol.footnotes li{
        font-size: $size-smallish-fluid;
        line-height: 1.8;
        &:before{
            counter-increment: footnotes;
            content: counter(footnotes);
            font-weight: $Bold;
            font-size: $size-smallish-fluid;
            color: $Orange-dark;
            display: inline-block;
            margin-left: calc(#{$margin-vertical-extraLarge}*-1);
            width: $margin-vertical-extraLarge;
            border-bottom: 1px solid $Grey;
            margin-right: 0;
        }
    }
}
