.column-header-container{
    display: flex;
    align-items: stretch;
    justify-content: center;
    height: 36px;
    width: 100%;
    margin-top: $margin-horizontal-medium;
    margin-bottom: $margin-horizontal-medium;
    &:before,
    &::after {
        content: "\00b7";
        font-size: 6em;
        color: $Blue-light;
        line-height: 0;
        align-self: baseline;
        padding-top: .075em;
    }
    &:before {
        //align-self: center;
        right: 1.5%
        
    }
    &:after {
       // align-self: flex-end;
       left: 1.5%;
    }
}

h2.column-header{
    width: 98%;
    display: flex;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: $size-h4;
    align-items: center;
    color: $Blue-light;
    letter-spacing: .15em;
    font-weight: 300;
    flex: 1 0 auto;

    &:before,
    &:after {
        border-top: 1px solid $Blue-light;
        position: relative;
        width: 45%;
        content: "";
        display: table-cell;
    }

    &:before {
        right: 1.5%;
    }

    &:after {
        left: 1.5%;
    }
}

h4.note-title{
    font-size: $size-h4;
    color: $Black;
}

@include media ('>=tablet') {
    h2.column-header,
    .h4.note-title {
    font-size: $size-h4-fluid;
    }
}