.column-header-container{
    display: flex;
    align-items: stretch;
    justify-content: center;
    height: 36px;
    width: 100%;
    margin-top: $margin-horizontal-medium;
    margin-bottom: $margin-horizontal-medium;
    &:before,
    &::after {
        @include bullet;
        color: $Blue-light;
        align-self: baseline;
    }
}

h4.column-header{
    @include responsive-property("width", 95%, 98%, $phone, $widescreen); ///<<<<<<<<<<<<<<<<<is not working
    //width: 98%;
    @include heading-4;
    display: flex;
    //white-space: nowrap;
    align-items: center;
    color: $Blue-light;
    flex: 1 0 auto;

    &:before,
    &:after {
        border-top: $line-base;
        position: relative;
        width: 45%;
        content: "";
        display: table-cell;
    }

    &:before {
        right: 1.5%;
    }

    &:after {
        left: 1.5%;
    }
}

.heading-4{
    font-size: $size-h4-fluid;
    color: $Black;
    margin: 1rem 0;
    line-height: 1.25;

    &.-extraBold{
        font-weight: $ExtraBold;
    }
}

.heading-5{
    font-family: $Sans;
    font-size: 1.25rem;
    line-height: 1.4;
    font-weight: $Light;
    text-transform: capitalize;
    letter-spacing: 0;
}

.heading-6{
    font-family: $Sans;
    font-size: $size-h6-fluid;
    line-height: 1.25;
    font-weight: $Light;
    text-transform: capitalize;
    letter-spacing: 0;

    &._bold{
        font-weight: $Bold;
        letter-spacing: 50;
        text-transform: uppercase;
    }
}

@include media ('>=tablet') {
    h2.column-header,
    .h4.note-title {
    font-size: $size-h4-fluid;
    }
}