%line-base{
    display: block;
    height: $line-heigth;
    width: 100%;
    border: 0;
    border-top: 1px solid $Black;
    margin: 1em 0;
    padding: 0;
}

hr {
    @extend %line-base;
}

.line-2 {
    @extend %line-base;
    &:before{
    @include bullet();
    }
    &:after{
    @include bullet();
    }
}