.logo-cepr-color{
    --logo-lightBlue: #004fa7;
    --logo-darkBlue: #000155;
    --logo-grey: #7f7f7f;
}

.logo-cepr-white{
    --logo-lightBlue: #f8f8f8;
    --logo-darkBlue: #f8f8f8;
    --logo-grey: #f8f8f8;
}

.logo-cepr-blue {
    --logo-lightBlue: #000155;
    --logo-darkBlue: #000155;
    --logo-grey: #000155;
}

.logo-cepr-black {
    --logo-lightBlue: #000033;
    --logo-darkBlue: #000033;
    --logo-grey: #000033;
}

.social-logo{
    width: 20px;
    fill: $Black;
    transition: all .15s;
    &:hover{
        cursor: pointer;
        fill: $Orange-dark;
        transform: scale(1.1);
    }

    &-white{
        fill: $White;
    }

    &-blue{
        fill: $Blue;
    }
}
.logo-cepr,
.icon-cepr {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

@include media(">=desktop"){
    .social-logo {
        width: 22px;
    }
}