%paragraph-base{
    font-family: $Sans;
    font-size: $size-p-fluid;
    line-height: 1.57;
    font-weight: $Light;
    letter-spacing: 0;
}

%paragraph-2-base{
    font-family: $Sans;
    font-size: $size-p2-fluid;
    line-height: 1.42;
    text-transform: normal;
    letter-spacing: 0;
}

@mixin paragraph{
    @extend %paragraph-base;
}

@mixin paragraph-serif{
    @extend %paragraph-base;
    font-family: $Serif;
    letter-spacing: 16;
}

.paragraph-2{
    @extend %paragraph-2-base;
}
.paragraph-2-light{
    @extend %paragraph-2-base;
    font-weight: $Light;
}