@mixin picture-base {
    flex: 1 1 auto;
    object-fit: cover;
    clip-path: circle();
    //align-self: center;
    //justify-self: center;
}

.picture-small{
    @include picture-base;
    height: $profile-picture-small;
}
.picture-large{
    @include picture-base;
    //min-height: $profile-picture-large-min;
    //min-width: $profile-picture-large-min;
    //max-width: $profile-picture-large-max;
    @include fluid-type(height, $desktop, $ultrahd, $profile-picture-large-min, $profile-picture-large-max);
    //height: auto;
    width: 100%;
}


.report-img-hero{
    display: flex;
    @include fluid-type(height, $phone, $ultrahd, $report-header-min-height, $report-header-max-height);
    width: 100%;
    *{ 
        object-fit: cover;
    }
    @include media(">=desktop"){
        margin-left: $columns-gap;
        img{
            border-radius: 0 100px 0 0;
        }
    }
}
.profile-picture{
    display: flex;
    align-items: center;
    height: $profile-header-height;
    width: $profile-header-height;
    overflow: hidden;
    @include transition-basic;
    &:hover{
        cursor: pointer;
    }
    &::after{
        content: none;
    }
    @include media(">=desktop"){
        @include fluid-type(height, $desktop, $ultrahd, 144px, 172px);
        width: auto;
        &::after{
            content: "";
            position: absolute;
            width: 50%;
            height: 100%;
            -webkit-mask: url("/img/profile-picture-frame.svg") no-repeat right;
            mask: url("/img/profile-picture-frame.svg") no-repeat right;
            background-color: $Green;
            right: 0;
            top: 3px;
        }
    }
}
.menu-img-container{
    @include fluid-type(width, $desktop, $ultrahd, 144px, 300px);
    @include fluid-type(height, $desktop, $ultrahd, 120px, 200px);
    max-width: 300px;
    max-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $Grey-lilac;
    overflow: hidden;
}
.menu-img{
    width: 100%;
    height: auto;
    object-fit: cover;
    text-align: center;
    @include small-text-sans-4;
}
