.report-header, .report-content{
    padding-left: 4vw;
}
.report-content{
    padding-right: 6vw;
    summary{
        //display: flex;
    }
}

#report-grid{
    header{
        display: flex;
        flex-direction: column;
        margin-left: -4vw;
        figure{
            order: 1;
        }
        .report-title-container{
            order: 2;
            display: flex;
            flex-direction: column;
            padding-top: between(48px, 72px, $phone, $tablet);
            width: 94%;
            margin-top: -3rem;
            z-index: 10;
            background-color: white;
            border-radius: 0 2rem 0 0;
            margin-bottom: 3rem;
            h1, small{
                padding-left: 4vw;
            }
        }
    }
    
}

@include media(">=tablet"){
    .grid-container{
        padding-top: $padding-horizontal-regular;
    }
}
@include media(">=desktop") {
    #report-grid{
        header{
            display: flex;
            flex-direction: column;
            figure{
                order: 1;
            }
        }
        .report-title-container{
            order: 2;
        }
    }

    .grid-container{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(12, minmax(6%, 8%));
        grid-template-rows: auto;
        grid-gap: $columns-gap;
        grid-auto-flow: row;
        padding: 0 $padding-vertical-large;
        grid-row-gap: $rows-gap;
        padding-bottom: $padding-horizontal-large;
    }

    #report-header{
        grid-column: 1 / -1;
        grid-row: 2;
    }
    #report-index{
        grid-column: 2 / span 2;
        grid-row: 3;
    }
    #report-content{
        grid-column: 5 /span 7;
        grid-row: 3;
    }
    #banner-subscribe{
        grid-column: 1 / span 11;
        grid-row: 3;
    }
    #block-inTheNews{
        grid-column: 10 / span 3;
        grid-row: 2;
    }
    #banner-top{
        grid-row: 1;
        grid-column: 5 / -1;
    }
    #banner-donate{
        grid-column: 2 / -1;
        grid-row: 6;
    }

    #side-blogs{
        grid-column: 8 / span 4;
        grid-row: 7;
        align-self: center;
    }
    #side-directors{
        grid-column: 3 / span 9;
        grid-row: 5;
    }
}
@include media(">=widescreen") {
    .grid-container {
    padding: 0 $padding-vertical-large*2;
    padding-bottom: $padding-horizontal-large*2;
    }
    #block-BeatThePress {
        grid-column: 2 / span 6;
    }
}

@include media(">=fullhd") {
    .grid-container {
        padding: 0 10%;
        padding-bottom: 10vh;
        max-width: 1920px;
        margin: 0 auto;
    }
    #banner-top{
        grid-column: 6 / -1;
    }
    #block-featured{
        grid-column: 1 / span 8;
        margin-top: calc(#{$height-1-fluid}*-1);
    }
    #block-inTheNews {
        grid-column: 9 / span 3;
    }
    #block-latest,
    #side-directors{
        grid-column: 3 / span 8;
    }
}
