.block-BeatThePress{
    background-color: $Black;
    display: flex;
    flex-flow: column;
    margin: 0 $margin-vertical-large;
    padding: 0 $padding-vertical-small;

    .heading-4, .heading-6{
        color: $Green-dark;
    }

    p{
        @include paragraph-small;
        color: $White;
    }
}

.BeatThePress-Header{
    display: flex;
    flex-flow: column;
    padding: $padding-vertical-normal;

}

.buttons-container{
    margin: 0 calc(#{$padding-vertical-normal}*-1);
    margin-top: $margin-horizontal-large;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .btn-1,
    .btn-2 {
        border-color: $Green-dark;
        margin: 0;
    }

    .btn-1 {
        background-color: transparent;
        color: $Green-dark;
    }

    .btn-2 {
        background-color: $Green-light;
        color: $White;
    }
}

.list-3-item{
    border-bottom-color: $Green-dark;
}