.block-list-2{
    margin-bottom: $margin-horizontal-large;
    .list-3-container{
        padding-top: $padding-horizontal-large;
    }
    .list-3-item-fixHeight{
        min-height: 150px;
        padding-bottom: 0;
        margin-bottom: 0;
        padding-left: $padding-vertical-extraLarge;
        padding-top: $padding-horizontal-small;
        padding-bottom: $padding-horizontal-regular;
    }
}

ul.list-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: $padding-horizontal-small;
}

.list-3-container{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

@include media(">=tablet"){
    .list-2-container {
        width: 66.66%;
        margin: 0 auto;
    }
}

@include media(">=desktop") {
    .list-2-container{
        width: 100%;
    }
}