$tabs-heigth: 32px;
$selected-height: 8px;
$picture-heigth: 240px;

.block-featured{
    display: flex;
    flex-flow: column;
    background-color: $Black;
    position: relative;
}

/////////////////////////////////////////
///////FEATURED TABS

.featured-tabs-container{
    display: inline-flex;
    position: absolute;
    z-index: 1;
    top: ($picture-heigth - $selected-height);
    white-space: nowrap;
    overflow-x: auto;
    width: 100vw;
    height: $tabs-heigth+$selected-height;

    a.tab {
        cursor: pointer;
        border-top: $selected-height solid transparent;
        order: 2;
        color: $Grey-lilac;
        font-weight: $Regular;
        padding: $padding-vertical-small;
        z-index: 3;
        transition: all 0.25s;
            &:hover {
                color: $Orange-light;
            }
             &:active {
                 color: $Orange-dark;
             }
        }
    
    a.tab-is-selected { 
        order: 1;
        border: 1px solid $Orange;
        border-bottom: none;
        border-left: none;
        border-radius: 0 $selected-height*2 0 0;
        background-color: $Black;
        margin-bottom: 1em;
        margin-left: $margin-vertical-large;
        position: relative;
        color: $Orange-dark;
        font-weight: $Bold;
        cursor: default;
        &:hover, &:active {
            color: $Orange-dark;
        }

        &:before{
            content: "\0025E2";
            color: $Black;
            font-size: $selected-height + $tabs-heigth;
            text-shadow: -1px -1px 0px $Orange-dark;
            text-align: left;
            position: absolute;
            top: -6px;
            left: -31px;
            padding-right: -1px;
            height: 100%;
            z-index: 2;
            line-height: 1;
        }
    }
}

.featured-tabs{
    padding: 0 $padding-vertical-normal;
    display: flex;
    overflow: hidden;
    flex: 0 1 auto;
    justify-content: space-between;
    position: relative;
}

//////////////////////////////////
//////////FEATURED CONTENT

.featured-articles-container {
    display: flex;
    flex-wrap: nowrap;
    clear: both;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scroll-snap-points-x: repeat(100%);
    scroll-snap-type: mandatory;

}

.featured-article-content{

    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    /*display: grid;
    grid-template-areas: 
        "title title"
        "related related";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;*/
    //clear: both;
    //height: 100%;
    //width: 100%;
}

.article-hero-picture {
    grid-area: picture;
    display: flex;
    height: $picture-heigth;
    //width: 100%;
    margin-bottom: $tabs-heigth;
}

.article-hero-text,
.article-hero-related{
    padding: 0 $padding-vertical-large;
}

.article-hero-text{
    //grid-area: title;
}

.article-hero-related{
    //grid-area: related;
}

#featured-2{
    //display: none;
}


@include media(">=desktop"){
    .featured-tabs-container {
        margin-top: 0;
    }

    .featured-article-content{
        grid-template-areas: 
            "title picture"
            "related related";
    }

    .article-hero-picture {
        position: relative;
        top: 0;
    }

    .featured-footer{
        background-color: $Green;
        display: flex;
        justify-content: space-evenly;
    }
}
