$btpHeader-size: 56px;

.block-BeatThePress{
    background-color: $Black;
    display: flex;
    flex-flow: column;
    margin: $margin-horizontal-large auto;
    padding: 0 $padding-vertical-small;
    width: 90%;
    padding-bottom: $padding-horizontal-large;
    .heading-4{
        @include heading-4;
            padding-top: $btpHeader-size;
            padding-left: $padding-vertical-small;
        &-extraBold {
            font-weight: $Bold;
        }
    }
    .heading-4, .heading-6{
        color: $Green-dark;
    }

    p{
        @include paragraph-small;
        color: $White;
        margin-top: $margin-horizontal-regular;
        padding: 0 $padding-vertical-normal;
    }

    .list-3{
        margin-top: $margin-horizontal-large*2;
        padding: 0 $padding-vertical-small;
    }
    .list-3-item {
        border-bottom-color: $Green-dark;
    }
}

.BeatThePress-Header{
    display: flex;
    flex-flow: column;
    padding: 0 $padding-vertical-normal;
    position: relative;
    margin: 0 $padding-vertical-small*-1;

    &:before{
        width: 100%;
        height: $btpHeader-size;
        position: absolute;
        right: 0;
        top: -16px;
        content: "";
        background: url("/img/btp_header.svg") right no-repeat;
    }
    &:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        margin-top: $btpHeader-size - 16px;
        border-bottom: 1px solid $Green-dark;
    }
}

.buttons-container{
    margin-top: $margin-horizontal-large;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .btn-1,
    .btn-2 {
        border-color: $Green-dark;
        margin: 0;
    }

    .btn-1 {
        background-color: transparent;
        color: $Green-dark;
    }

    .btn-2 {
        background-color: $Green-light;
        color: $White;
    }
}

@include media(">=tablet"){
    .buttons-container {
        justify-content: space-evenly;
    }
}

@include media(">=desktop"){
    .block-BeatThePress{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}