.block-report-related {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: $padding-horizontal-regular;
    margin: $margin-horizontal-large 0;
    margin-bottom: calc(#{$margin-horizontal-large}*4);
    .heading-5 {
        a {
            color: $White;
            transition: all .2s;
        }

        :hover {
            color: $Green;
        }

        :active {
            color: $Green-dark;
        }
    }

    .heading-7,
    .preheading {
        align-self: center;
        text-align: center;
        color: $Green;
        line-height: 1;
    }
    .heading-7{
        margin-bottom: $margin-vertical-large;
    }
    .list-2-item{
            @include fluid-type(padding-top, $tablet, $fullhd, $margin-horizontal-medium, $padding-horizontal-medium);
            padding-bottom: $padding-horizontal-regular;
    }
    .list-2-item:last-child{
        &:before{
            content: "";
            height: 100%;
            width: 100%;
            background: linear-gradient(transparent, white);
            position: absolute;
        }
    }
    @include media(">=tablet"){
        padding-top: $padding-horizontal-regular;
        padding-bottom: $padding-horizontal-large;
            .heading-7,
            .preheading {
                align-self: flex-start;
                text-align: left;
                padding-left: $padding-report-content;
            }

            .list-2-item {
                flex: 1 1 auto;
                padding-left: $padding-vertical-large;
                padding-right: $padding-vertical-large;
                .article-text-container{
                    width: 100%;
                }
            }
            .list-2-item{
                .article-text-container{
                    padding: 0;
                }
            }
    }
    @include media(">=desktop"){
        .list-2-container{
            margin-top: $margin-horizontal-large;
            padding-top: 0;
        }
        .list-2-item {
            flex: 1 1 auto;
            @include fluid-type(padding-right, $widescreen, 2560px, 20%, 30%);;
            margin-bottom: 0;
            &:first-child{
                padding-top: 0;
            }
            .article-text-container{
                width: auto;
                padding-left: 0;
                margin: 0;
                .heading-3{
                    @include size-h5-fluid;;
                }
            }
        }
        .list-2-item:last-child{
            &:before{
            content: none;
            }
        }
        .preheading{
            padding-left: $padding-vertical-extraLarge;
        }
        .heading-7{
            font-size: $size-h4-max;
            border-bottom: 0;
            position: relative;
            overflow: visible;
            padding: 0 $padding-vertical-extraLarge;
            margin-bottom: 0;
        }
        .heading-7-underline{
            &::before{
                content: "";
                width: .5em;
                height: .5em;
                background-color: $Green;
                @include absolute-center-hor;
                //top: 50%;
            }
            &::after{
                width: .5em;
                height: .5em;
                @include absolute-center-hor;
            }
        }
    }
}