.block-footer{
    background-color: $White;
    display: flex;
    align-items: center;
    flex-flow: column;
    height: 21rem;
    justify-content: space-between;
    border-top: 1px solid $Blue;
    padding-top: $padding-horizontal-regular*2;

    .line-2{
        margin: 0;
    }
}
.footer-logo{
    height: 3.5rem;
}

.footer-list{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    height: 30%;
}

.footer-item a{
    @include small-text;
    font-size: .75rem;
    color: $Blue-dark;
    font-weight: $ExtraBold;
}

.footer-social{
    display: inline-flex;
    width: 3.5rem;
    justify-content: space-between;
    height: 10%;
    .social-logo{
        width: 30%;
    }
}

.footer-license{
    height: 17%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid $Blue-light;
    p{
        @include smallest-text;
        width: 85%;
        color: $Blue-light;
        text-transform: none;
    }
}

@include media(">=desktop") {
    .block-footer{
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 10%;
        max-width: 1920px;
        position: relative;
        margin: 0 auto;
        color: $Blue;

        .footer-logo{
            fill: $Blue-light;
            position: relative;
        }
        img.footer-logo{
            height: 46px;
            margin-bottom: 4px;
        }
        .footer-list{
            flex-direction: row;
            flex-wrap: wrap;
            order: 2;
        }
        .footer-item{
            flex: 1 0 50%;
        }
        .footer-license{
            flex: 1 0 200%;
            text-align: center;
            margin-left: -50%;
            margin-right: -50%;
            height: 15%;
            order: 5;
            display: flex;
            align-self: flex-end;
            em a{
                color: $Orange-dark;
                font-weight: $Regular;
                text-decoration: underline;
            }
        }
        .footer-social{
            position: absolute;
            display: flex;
            bottom: 20%;
            left: 10%;
            width: 10%;
        }
        .paragraph-2-light > strong{
            color: $Blue;
        }
        &:after{
            content: "";
            position: absolute;
            right: 0;
            background: url("/img/footer_illustration.png") right no-repeat;
            background-size: cover;
            width: 20%;
            top: -15%;
            height: 100%;
        }
    }
}